{% extends "base.html" %}
{% block title %}User Login{% endblock %}

{% block content %}
<div class="container border rounded border-dark mb-5 row" >
    <div class="container mb-5 col">
        <h1 class="col mb-3 text-start">Please Log In using your credentials</h1>
        <form method="POST" action="" class="form-group text-start">
            {{ form.hidden_tag() }}
            {{ form.username }}
            {{ form.password }}
            {{ form.submit }}
        </form>
        <p>Not a member?</p><a href="{{ url_for('register') }}">Sign Up</a>
    </div>

    <div class="container mb-5 text-center row">
        <hr class="row" style="height:2px; width:100%; border-width:0; color:rgb(13, 10, 203); background-color:rgb(23, 4, 74)">
        <h4 class="col">Welcome to XYZ System Login</h4>
        <p class="col">We highly regard our user privacy. Unauthorized access is prohibited</p>
    </div>
</div>
{% endblock %}