{% extends "base.html" %}
{% block title %}Welcome to your dashboard{% endblock %}

{% block content %}
    <h1>Hello User! You are logged in</h1>
    <h2>List of Suppliers</h2>
    <hr>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Index</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Company</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>James</td>
            <td>OttoMan</td>
            <td>Linkedspace</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>Twitt</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>Bird</td>
            <td>Myspacd</td>
          </tr>
        </tbody>
      </table>
    <div class="container mb-5">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, laudantium consequatur aspernatur at eaque nemo harum, eius deserunt reprehenderit, sunt inventore laboriosam et facere error?</p>
    </div>
    <hr>
    <p>Completed Your Session?</p><a href="{{url_for('logout')}}">Logout</a>
{% endblock %}